.card {
    display: flex;
    flex-flow: column;
    padding: 0em 3em 2em 3em;
    border-bottom: 4px dashed #aba6a6;
    align-items: center;
    justify-content:space-evenly;
    text-align: center;
    gap: 0.5em;
    height: auto;    
}

.imgContainer {
    border: 7px solid #a8a6a6;
    padding: 1rem 2rem 2rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    width: 14rem;
    height: 17rem; 
    overflow: hidden;
}
.img {
    width: 150px;
    height: auto;
}

.productTitle {
    width: 16rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}