.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) ;
    grid-gap: 4rem;
    margin: 1em;
}

.card {
    display: flex;
    flex-flow: column;
    padding: 2em;
    border: 2px solid #2f2f2255;
    border-radius: 4px;
    align-items: center;
    justify-content:space-evenly;
    text-align: center;
    gap: 0.5em;
    margin-top: 1em;
    height: auto;    
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 10%;
    margin: 1em;
    gap: 5em;
}

.img {
    width: 150px;
    height: auto;
}
h2 {
    text-transform: uppercase;
}
.productTitle {
    
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center; */
}
p { 
    text-align: center;
    font-weight: bold;
}

.btnContainer {
    display: flex;
    justify-content: center;
    width: 150px;
    padding: 0 16px;
    gap: 2px;
}
.btnContainer input {
    width: 50px;
    padding: 2px;
    border-radius: 5px;
    text-align: center;
    height: auto;
}
.plusMinus {
    width: 30px;
    height: auto;
    border-radius: 5px;
    background: rgba(120, 120, 120, 0.6)
}
.checkout {
    display: flex;
    flex-direction: column;
    font-weight: 900;
    float: right;
}

.spinner {
    position: fixed;
    top: 40%;
    left: 50%;
}
.itemdetails {
    align-self: center;
    margin: 1em;
    width: 700px;
    max-height: 1000px;
}

