.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) ;
    grid-gap: 2em;
    margin: 1em;
}

.card {
    display: flex;
    flex-flow: column;
    padding: 1em;
    border: 2px dotted #2f2f2255;
    align-items: center;
    justify-content:space-evenly;
    text-align: center;
    gap: 1em;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 10%;
    margin: 1em;
    gap: 5em;
}

.img {
    width: 150px;
    height: 150px;
}
p { 
    text-align: center;
}
button {
    width: 120px;
    height: auto;
}
.btnContainer {
    display: flex;
    width: 100px;
    padding: 0 16px;
    gap: 8px;
}
.btnContainer input {
    width: 20px;
    height: auto;
}
.plus {
    background: rgb(15, 72, 15);
}
.minus {
    background: #9c3333;
}
.checkout {
    display: flex;
    flex-direction: column;
    font-weight: 900;
    float: right;
}

.spinner {
    position: fixed;
    top: 10%;
    left: 50%;
}
