/* navbar */
header nav {
  display: flex;
  gap: 1.25em;
  justify-content: end;
  margin: 0 auto;
  padding: 16px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.6);
}
header nav h1 {
  margin-right: auto;
}
header nav a {
  text-decoration: none;
  padding: 6px;
}
