.layout {
  display: flex;
  gap: 1em;
  margin: 1em auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 2em 0;
  gap: 1.5em;
}
.content {
  display: flex;
  justify-content: space-around;
}


