.layout {
  padding: 2rem 0rem 3rem 0rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.sidebar {
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  height: max-content;
  padding-right: 2rem;
  cursor: pointer;
  position: sticky;
  top: 7rem;
  z-index: 1;
}


