@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');

:root {
  --primary: #ffffff;
  
}

* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0em 1em;
  font-family: 'Metrophobic', sans-serif;
  background: var(--primary);
  letter-spacing: 0.15em;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 6px;
  color: #2f2f2f;
}
a:after {
  background: none repeat 
  scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #2f2f2f;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}

button {
  padding: 8px;
  border-radius: 25px;
  width: 150px;
  color: #000;
  background: #fff;
  cursor: pointer;
}
button:hover {
  background: #000;
  color: #fff;
}
