@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  font-family: "Poppins", sans-serif;
  --primary: #242424;
}

body {
  margin: 0;
  padding: 1em;
  font-family: "Poppins";
  background: var(--primary);
}
* {
  color: #fff;
  margin: 0;
}
a {
  text-decoration: none;
}
p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}
